.col {
  margin-top: 1rem;
  color: #0f0f0f;
}

a {
  text-decoration: none;
  color: #42b6e9;
}

a:hover {
  opacity: 1;
  transition: opacity 100ms;
  transition-delay: 0ms;
  color:#00b7eb;
}

h3 {
  font-family: 'Roboto Condensed';
  color: #2d5a6d;
  font-size: 2em;
}

.ocultar {
  display: none;
}

.matchCard {
  border: 2px solid green;
}

input {
  padding: 0.25em 0.5em;
  background-color: #fff;
  border: 2px solid #2c586b;
  border-radius: 4px;
}

input:focus {
  outline: none;
  background-color: #42b6e9;
  color: #fff;
  box-shadow: none;
}

img {
  min-height: 26rem;
  max-height: 26rem;
}

.card{
  padding: .5rem;
}

.card:hover {
  border: 1px solid #2c586b;
}

.card-body {
  min-height: 20rem;
  max-height: 20rem;
  background-color: transparent;
}

.mallorca {
  background-color: #000;
  color: #fff;
  padding: .5rem;
}

.menorca {
  background-color: blue;
  color: #fff;
  padding: .5rem;
}

.ibiza {
  background-color: red;
  color: #fff;
  padding: .5rem;
}

.formentera {
  background-color: green;
  color: #fff;
  padding: .5rem;
}

