<h1>listado de empresas</h1>
<div *ngIf="enterprises">
  <div class="row row-cols-3">
  <div *ngFor="let enterprise of enterprises">
    <div class="col">
      <div class="card mb-4">
        <img class="img-fluid" *ngIf ="enterprise.logo" src={{enterprise.logo}} alt={{enterprise.socialDenomination}} title={{enterprise.socialDenomination}} />
        <div class="card-header">
          <a [routerLink]="['/enterprise-detail', enterprise.enterpriseId]"><h3 class="card-title">{{enterprise.socialDenomination}}</h3></a>
          <p class="card-text">[{{enterprise.constitucionJuridica}}]</p>
          <p class="card-text">{{enterprise.nameSurname}}</p>
        </div>
        <div class="card-body">
          <h4 class="card-title">{{enterprise.activity}}</h4>
          <p class="card-text">{{enterprise.dateCreation}}</p>
          <a href='mailto:{{enterprise.contactEmail}}' target="_blank" class="card-link">{{enterprise.contactEmail}}</a>
          <a href='https://{{enterprise.enterpriseSite}}' target="_blank" class="card-link">{{enterprise.enterpriseSite}}</a>
        </div>
      </div>
    </div>

    <!-- HORIZONTALLY ORIENTED CARD -->
   <!--  <div class="col">
      <div class="card mb-4">
        <div class="row g-0">
          <div class="col-md-4">
            <img class="img-fluid" *ngIf ="enterprise.logo" src={{enterprise.logo}} alt={{enterprise.socialDenomination}} title={{enterprise.socialDenomination}} />
          </div>
          <div class="col-md-8">
          <div class="card-body">
            <a [routerLink]="['/enterprise-detail', enterprise.enterpriseId]"><h3 class="card-title">{{enterprise.socialDenomination}}</h3></a>
            <p class="card-text">[{{enterprise.constitucionJuridica}}]</p>
            <p class="card-text">{{enterprise.nameSurname}}</p>
            <h4 class="card-title">{{enterprise.activity}}</h4>
            <p class="card-text">{{enterprise.dateCreation}}</p>
            <a href='mailto:{{enterprise.contactEmail}}' target="_blank" class="card-link">{{enterprise.contactEmail}}</a>
            <a href='https://{{enterprise.enterpriseSite}}' target="_blank" class="card-link">{{enterprise.enterpriseSite}}</a>
          </div>
          </div>
        </div>
      </div>
    </div> -->

  </div>
  </div>
</div>

<div *ngIf="!enterprises">
  <div class="row">
  <div *ngFor="let item of [1,2,3,4]">
  <div class="card" aria-hidden="true" id="noticiaUnoPlaceHolder">
    <div>
      <img src="https://via.placeholder.com/260x145.png?text=...loading news list" class="card-img-top" alt="loading image">
    </div>
   
    <div class="card-body">
      <h5 class="card-title placeholder-glow">
        <span class="placeholder col-6"></span>
      </h5>
      <p class="card-text placeholder-glow">
        <span class="placeholder col-7"></span>
      </p>
    </div>
  </div> 
</div>
</div> 
</div>

