.col {
  margin-top: 1rem;
}

a {
  text-decoration: none;

  color: #42b6e9;
}

a:hover {
  opacity: 1;
  transition: opacity 100ms;
  transition-delay: 0ms;
  color:#00b7eb;
}

.ocultar {
  display: none;
}

.matchCard {
  border: 2px solid green;
}

