.col {
  margin-top: 1rem;
}

a {
  text-decoration: none;
  color: #42b6e9;
}

a:hover {
  opacity: 1;
  transition: opacity 100ms;
  transition-delay: 0ms;
  color:#00b7eb;
}

.ocultar {
  display: none;
}

.matchCard {
  border: 2px solid green;
}

input {
  font-size: 16px;
  font-size: max(16px, 1em);
  font-family: inherit;
  padding: 0.25em 0.5em;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 4px;
}

input:focus {
  outline: none;
  background-color: #42b6e9;
  color: #fff;
  box-shadow: none;
}

img {
  min-height: 29rem;
  max-height: 29rem;
}

.card-body{
  min-height: 13rem;
  max-height: 13rem;
}

