<div class='container my-5 opacity-100'>


<h3>Startup full detail</h3>
<div *ngFor="let enterprise of enterprisesFiltered">
<div class="col">
  <div class="card mb-4 bg-light  shadow-lg p-3 mb-5 bg-body-tertiary rounded">
    <div class="row g-0">
      <div class="col-md-4">
        <img class="img-fluid img-thumbnail" *ngIf ="enterprise.logo" src={{enterprise.logo}} alt={{enterprise.socialDenomination}} title={{enterprise.socialDenomination}} />
      </div>
      <div class="col-md-8">
      <div class="card-body">
        <h1 class="card-title">{{enterprise.socialDenomination}}</h1>
        <h3 class="card-text">{{enterprise.nameSurname}}</h3>
        <h4 class="card-title">Trade name: {{enterprise.comercialName}}</h4>
        <h4 class="card-title">Activity: {{enterprise.activity}}</h4>
        <h5 class="card-title">Legal form: {{enterprise.constitucionJuridica}}</h5>

        <h5 class="card-text">{{enterprise.island}}</h5>
        <h5 class="card-text">Date created: {{enterprise.dateCreation}}</h5>
        <h5 class="card-text">Number of partners: {{enterprise.partners}}</h5>
        <h5 class="card-text">Total workers: {{enterprise.totalWorkers}}</h5>
        <h5 class="card-text">Women: {{enterprise.womenPercent}}%</h5>

        <a href='mailto:{{enterprise.contactEmail}}' target="_blank" class="link-primary card-link link-offset-3">{{enterprise.contactEmail}}</a><br>
        <a href='https://{{enterprise.enterpriseSite}}' target="_blank" class="link-primary card-link link-offset-3">{{enterprise.enterpriseSite}}</a>
        <div class="list-group mx-auto p-2">
        <label for=''><strong>Short description</strong></label>
          <p class="text-start" [innerHTML]="enterprise.description"></p>
<!--         <label for=''><strong>Do they need to identify sources of private finance (loans, investment capital, etc.) and learn how to negotiate financial agreements??</strong></label>
          <p>{{enterprise.needPrivateFundingIdent}}</p> -->
        <label for=''><strong>Telephone response to investor needs</strong></label>
          <p>{{enterprise.phoneResponse}}</p>          
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
<a (click)="windowClose();" class="btn btn-secondary">Close</a>
</div>
</div>