<div class='container my-5 opacity-100'>


<h2>Startup full detail</h2>
<div *ngFor="let enterprise of enterprisesFiltered">
<div class="col">
  <div class="card mb-4 bg-light  shadow-lg p-3 mb-5 bg-body-tertiary rounded">
    <div class="row g-0">
      <div class="col-md-4">
        <img class="img-fluid img-thumbnail" *ngIf ="enterprise.logo" src={{enterprise.logo}} alt={{enterprise.socialDenomination}} title={{enterprise.socialDenomination}} />
      </div>
      <div class="col-md-8">
      <div class="card-body">
        <h3 class="card-title">{{enterprise.socialDenomination}}</h3>
        <h4 class="card-title">Activity: {{enterprise.activity}}</h4>
        <h5>Legal form: {{enterprise.constitucionJuridica}}</h5>
        <p class="card-text">{{enterprise.nameSurname}}</p>
        <p class="card-text">{{enterprise.island}}</p>
        <p class="card-text">Date created: {{enterprise.dateCreation}}</p>
        <p class="card-text">Number of partners: {{enterprise.partners}}</p>
        <p class="card-text">Total workers: {{enterprise.totalWorkers}}</p>
        <p class="card-text">Women: {{enterprise.womenPercent}} %</p>

        <a href='mailto:{{enterprise.contactEmail}}' target="_blank" class="link-primary card-link link-offset-3">{{enterprise.contactEmail}}</a>
        <a href='https://{{enterprise.enterpriseSite}}' target="_blank" class="link-primary card-link link-offset-3">{{enterprise.enterpriseSite}}</a>
        <div class="list-group mx-auto p-2">
        <label for=''><strong>Short description</strong></label>
          <p class="text-start">{{enterprise.description}}</p>
        <label for=''><strong>Needs private funding identification?</strong></label>
          <p>{{enterprise.needPrivateFundingIdent}}</p>
        <label for=''><strong>Telephone response to investor needs</strong></label>
          <p>{{enterprise.phoneResponse}}</p>          
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
<a routerLink="/" class="btn btn-secondary">Go back</a>
</div>
</div>