<div class='container my-5 opacity-100'>


<h2>Startup full detail</h2>
<div *ngFor="let enterprise of enterprisesFiltered">
<div class="col">
  <div class="card mb-4 bg-light border border-dark">
    <div class="row g-0">
      <div class="col-md-4">
        <img class="img-fluid" *ngIf ="enterprise.logo" src={{enterprise.logo}} alt={{enterprise.socialDenomination}} title={{enterprise.socialDenomination}} />
      </div>
      <div class="col-md-8">
      <div class="card-body">
        <h3 class="card-title">{{enterprise.socialDenomination}} {{enterprise.constitucionJuridica}}</h3>
        <h4 class="card-title">{{enterprise.activity}}</h4>
        <p class="card-text">{{enterprise.nameSurname}}</p>
        <p class="card-text">[{{enterprise.island}}]</p>
        <p class="card-text">Date created: {{enterprise.dateCreation}}</p>
        <a href='mailto:{{enterprise.contactEmail}}' target="_blank" class="link-primary card-link link-offset-3">{{enterprise.contactEmail}}</a>
        <a href='https://{{enterprise.enterpriseSite}}' target="_blank" class="link-primary card-link link-offset-3">{{enterprise.enterpriseSite}}</a>
        <div class="list-group mx-auto p-2">
        <label for=''><strong>¿En qué etapa se encuentra la startup?</strong></label>
          <p>{{enterprise.startUpStage}}</p>
        <label for=''><strong>¿Qué les ha motivado para emprender este proyecto?</strong></label>
          <p>{{enterprise.projectReason}}</p>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
<a routerLink="/" class="btn btn-secondary">Go back</a>
</div>
</div>